@media (max-width: 770px) {
	h1{
		font-size: 3rem;
	}
	.logo_home {
    	width: 100%;
	}
	.centrado {
	    width: 60%;
	}
	.contenedor{
    	margin: auto;
	    text-align: center;
	}
	.contenedor img{
		width: 90% 
	}
	.contenedor button {
		margin: 5px;
		width: 100%;

	}
	.perfil2 button  {
		margin: 5px;
		width: 90%;
		border-radius: 20px;
		font-size:2.3rem;

	}
	


}
@media (max-width: 320px) {
	h1{
		font-size: 3rem;
	}


}